        apiVersion: v1
	kind: Service
	metadata:
        name: springboot-appsvc
	  labels:
	    app: springboot-app
	spec:
        type: LoadBalancer
        selector:
          app: springboot-app
	  ports:
	  - name: http
	    port: 80
	    protocol: TCP
	    targetPort: 8085
